<%- include('../partials/layout-start') %>

<div class="container-sm book-container">
  <h1>Edit Book</h1>
  <form
    action="/books/update/<%= book._id %>"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        id="title"
        name="title"
        class="form-control"
        value="<%= book.title %>"
        required
      />
    </div>

    <div class="mb-3">
      <label for="authors" class="form-label">Author</label>
      <input
        type="text"
        id="authors"
        name="authors"
        class="form-control"
        value="<%= book.authors %>"
        required
      />
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea id="description" name="description" class="form-control">
        <%=book.description%></textarea
      >
    </div>

    <div class="mb-3">
      <input type="file" id="file" name="file" onchange="previewImage(event)" />
    </div>

    <img
      id="preview"
      src="<%= book.filePath || '' %>"
      alt="Preview"
      class="preview-image"
    />

    <button type="submit" class="btn btn-success submit-button" style="margin-bottom: 1rem">Update</button>
    <a href="/books/<%= book._id %>" class="btn btn-secondary">Back</a>
  </form>
</div>

<%- include('../partials/layout-end') %>
