<%- include('../partials/layout-start') %>

<% if (message) { %>
<div id="success-message" class="alert alert-success"><%= message %></div>
<% } %>
<div class="container-sm book-container">
    <h1><%= book.title %></h1>
    <p><strong>Authors:</strong> <%= book.authors %></p>
    <p><strong>Description:</strong> <%= book.description %></p>
    <p><strong>Favorite:</strong> <%= book.favorite %></p>
    <% if (book.filePath) { %>
    <img
            src="<%= book.filePath %>"
            alt="Book Thumbnail"
            style="max-width: 200px"
    />
    <% } %>
    <p><strong>Views:</strong> <%= views %></p>
    <div class="button-container">
        <a href="/books/update/<%= book.id %>" class="btn btn-warning">Edit</a>
        <form
                action="/books/delete/<%= book.id %>"
                method="POST"
                style="display: inline"
        >
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <a href="/books" class="btn btn-secondary">Back to List</a>
    </div>

         <h3 style="margin-top: 30px">Comments</h3>
             <div class="mb-3">
                 <div class="form-group">
                     <textarea
                            placeholder="message"
                            class="form-control"
                            id="text"
                      ></textarea>
                    </div>
                    <button type="submit" id="send-comment" class="btn btn-primary">room</button>
                </div>


            <div class="mb-3">
                <div id="list" class="list-group">
                <% book.comments.reverse().forEach(comment => { %>
                <div class="list-group-item list-group-item-action">
                    <p class="mb-1"><%= comment.text %></p>
                    <small>
                        <strong><%= comment.userId.username %></strong> -
                        <%= new Date(comment.createdAt).toLocaleString('ru-RU', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) %>
                    </small>
                </div>
                <% }) %>
                </div>
          </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io('/', { query: { bookId: '<%= book.id %>' } }); // Подключаемся к комнате книги

    const boxList = document.querySelector('#list');
    const sendComment = document.querySelector('#send-comment');
    const inputText     = document.querySelector('#text');

    const getTmp = (msg) => {
        const dateOptions = { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' };
        const formattedDate = new Date(msg.createdAt).toLocaleString('ru-RU', dateOptions);

        return `
            <div class="list-group-item list-group-item-action">
                <p class="mb-1">${msg.text}</p>
                <small>
                    <strong>${msg.userId.username}</strong> -
                    ${formattedDate}
                </small>
            </div>
        `;
    };
    socket.on('newComment', (msg) => {
        const div = getTmp(msg)
        boxList.insertAdjacentHTML('afterbegin', div)
    });

    sendComment.addEventListener('click', () => {
        socket.emit('newComment', {
            text: inputText.value,
            userId: '<%= user.id %>'
        })
        inputText.value = '';
    })

</script>

<%- include('../partials/layout-end') %>
